[package]
name = "lex-analysis"
version = "0.2.1"
edition = "2021"

[lib]
doctest = false

[features]
test-support = []

[dependencies]
lex-parser = { path = "../lex-parser" }
lsp-types = "0.94"

[dev-dependencies]
